<main>
<h2>Fornecedores<h2>
<div>
  <% if @suppliers.any? %>
    <table>
        <thead>
            <tr>
                <th>Nome da Marca</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |s| %>
          <tr>
            <td><%= s.brand_name %></td>
            <td><%= s.city %> - <%= s.state %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  <% else %>
    <div>
      Nenhum fornecedor cadastrador
    </div>
  <% end %>
</div>

</main>